* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  height: 100%;
}

body {
  height: 100%;
}

input,
select,
textarea,
button {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ------------------------------------------
 GLOBAL CSS
 ------------------------------------------ */
.Main {
  font-family: GothamProRegular;
  font-size: 13px;
}
.Main button:focus {
  outline: none;
}
.Main .btn {
  border: none;
}
.Main .btn-primary:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.Main select > option {
  background: white !important;
  color: #000000;
  margin-bottom: -1px;
}
.Main select > option:disabled {
  color: #AAAAAA;
}

.fade.modal-backdrop.show {
  width: 100%;
  height: 100%;
}

.modal-content button.close {
  outline: none;
}

.modal .container {
  padding-left: 10px;
  padding-right: 10px;
}

.smarts-button {
  font-family: GothamProRegular;
  background: #655290;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  height: 38px;
  font-size: 15px;
  transition: 0.3s;
}
.smarts-button:hover {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
}

.smarts-input,
.smarts-select {
  height: 38px;
}

.smarts-textarea {
  height: 95px;
  resize: none;
}

.smarts-input,
.smarts-select,
.smarts-textarea {
  width: 100%;
  border-bottom: 1px solid #655290;
  margin: 4px 0;
  background: #F0F0F0;
  padding: 6px 12px;
}
.smarts-input:hover, .smarts-input:focus,
.smarts-select:hover,
.smarts-select:focus,
.smarts-textarea:hover,
.smarts-textarea:focus {
  border-bottom: 2px solid #655290;
  padding-bottom: 5px;
}

.username-card {
  display: flex;
  align-items: center;
}
.username-card .username-card__name {
  padding: 0 8px;
}
.username-card .username-card__logo {
  color: #655290;
  width: auto;
  height: 25px;
  border-radius: 50%;
}

/* ------------------------------------------
  TOP-MENU
 ------------------------------------------ */
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: GothamProLight;
  height: 100%;
}
.top-menu .sidebar-hamburger {
  display: none;
}
.top-menu .sidebar-hamburger .sidebar-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 32px;
  cursor: pointer;
  border: none;
  background: transparent;
}
.top-menu .sidebar-hamburger .sidebar-button .sidebar-button__line {
  width: 100%;
  height: 2px;
  background: #ffffff;
}
.top-menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.top-menu-logo img:nth-child(1) {
  height: 60px;
  width: auto;
}
.top-menu-logo img:nth-child(2) {
  display: none;
  height: auto;
  width: 80px;
}
@media screen and (max-width: 768px) {
  .top-menu .top-menu-links {
    display: none;
  }
  .top-menu .sidebar-hamburger {
    display: inherit;
  }
  .top-menu-logo {
    padding-right: 0;
    height: 60px;
  }
  .top-menu-logo img:nth-child(1) {
    display: none;
  }
  .top-menu-logo img:nth-child(2) {
    display: inherit;
  }
  .top-menu .username-card__name {
    display: none;
  }
}

/* ------------------------------------------
 SIDEBAR-MENU
 ------------------------------------------ */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 90px;
  background: #655290;
  box-shadow: 2px 0 7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 0 7px rgba(0, 0, 0, 0.5);
  z-index: 30;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar.open .sidebar-close-button {
  position: absolute;
  top: 10px;
  right: -35px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.sidebar .navigation {
  display: flex;
  flex-direction: column;
}

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 20;
  transition: opacity 0.3s ease;
}

@media screen and (min-width: 769px) {
  .sidebar,
.backdrop {
    display: none;
  }
}
/* ------------------------------------------
 NAVIGATION LINKS
 ------------------------------------------ */
.navigation-link {
  height: 80px;
  width: 90px;
}
.navigation-link.active {
  background: #56457B;
}
.navigation-link-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 80px;
  width: 90px;
  transition: 0.3s;
}
.navigation-link-content:hover {
  background: #56457B;
  text-decoration: none;
  color: #ffffff;
}
.navigation-link-content__logo {
  height: 35px;
  width: auto;
}

/* ------------------------------------------
 LAYOUTS
 ------------------------------------------ */
.layout {
  display: flex;
  flex-direction: column;
}
.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: #655290;
  z-index: 10;
}
@media screen and (min-width: 1200px) {
  .layout-header .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 991px) {
  .layout-header .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) and (min-width: 767px) {
  .layout-header .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
  .layout-header .container {
    max-width: 720px;
  }
}
.layout-header .container {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .layout-header {
    height: 60px;
  }
}
.layout-content {
  margin-top: 110px;
}
@media screen and (min-width: 1200px) {
  .layout-content .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 991px) {
  .layout-content .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) and (min-width: 767px) {
  .layout-content .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
  .layout-content .container {
    max-width: 720px;
  }
}
.layout-content__title {
  font-family: GothamProBold;
  margin-bottom: 20px;
}
.layout-content__body {
  position: relative;
  padding: 25px;
  margin: 20px 0;
  -webkit-box-shadow: 0 5px 45px rgba(32, 32, 32, 0.1);
  box-shadow: 0 5px 45px rgba(32, 32, 32, 0.1);
  min-height: 300px;
}
@media (max-width: 576px) {
  .layout-content__body {
    padding: 20px 0;
  }
}
.layout-content__body .jneUDS > *,
.layout-content__body .dNbWJJ > *,
.layout-content__body .ckAHgq > * {
  background-color: #655290;
}

/* ------------------------------------------
 HOME LAYOUT
 ------------------------------------------ */
.layout-content__body.home {
  display: flex;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
.layout-content__body-item {
  -webkit-box-shadow: 0 10px 45px rgba(32, 32, 32, 0.1);
  box-shadow: 0 10px 45px rgba(32, 32, 32, 0.1);
}
.layout-content__body-item:first-child {
  margin-right: 40px;
  height: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.layout-content__body-item.account_activities {
  flex: 1;
  height: 100%;
}

/* ------------------------------------------
 PROFILE [HOME LAYOUT]
 ------------------------------------------ */
.profile {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border-radius: 5px;
}
.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #56457B;
  color: #ffffff;
  padding: 25px 35px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.profile-details__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 1px solid #f68d37;
  -webkit-box-shadow: 0 0 20px rgba(241, 141, 55, 0.4);
  box-shadow: 0 0 20px rgba(241, 141, 55, 0.4);
}
.profile-details__picture-content {
  height: 120px;
  width: 120px;
}
.profile-details__picture-content img {
  width: auto;
  height: 100%;
  border-radius: 50%;
}
.profile-details__name {
  font-size: 17px;
  font-family: GothamProMedium;
  margin-bottom: 8px;
  text-align: center;
}
.profile-details__contact {
  font-family: GothamProLight;
  line-height: 2.3;
  word-break: break-all;
}
.profile-details__contact-logo {
  height: 20px;
  width: auto;
  margin-right: 5px;
}
.profile-stats {
  padding: 20px;
}
.profile-stats__related-tickets {
  width: 100%;
}
.profile-stats__title {
  font-family: GothamProRegular;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}
.profile-stats__amount {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.profile-stats__amount-type {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 70px;
}
.profile-stats__amount-type .count {
  font-family: GothamProMedium;
  font-size: 22px;
}
.profile-stats__amount-type .name {
  font-family: GothamProLight;
  color: #7a869a;
}

/* ------------------------------------------
 ACCOUNT ACTIVITIES [HOME LAYOUT]
 ------------------------------------------ */
.activities {
  padding: 25px;
}
.activities-header {
  font-family: GothamProMedium;
  margin-bottom: 30px;
}
.activities-body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.activities-body::before {
  background-color: #655290;
  content: "";
  position: absolute;
  left: calc(21% - 2px);
  width: 3px;
  height: 100%;
}
.activities-body-item {
  display: flex;
  position: relative;
  margin-bottom: 45px;
}
.activities-body-item:last-child {
  margin-bottom: 0;
}
.activities-body-item__date {
  width: 21%;
  color: #7a869a;
  padding-right: 25px;
}
.activities-body-item__text {
  width: 79%;
  padding-left: 25px;
}
.activities-body-item__text-username {
  font-family: GothamProBold;
  padding-right: 5px;
}
.activities-body-item__text-number a {
  font-family: GothamProMedium;
  text-transform: uppercase;
}
.activities-body-item__text-username, .activities-body-item__text-number a {
  color: #655290;
}
.activities-body-item__circle {
  background-color: #ffffff;
  border: 3px solid #655290;
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  left: calc(21% - 10px);
  z-index: 5;
}

/* ------------------------------------------
 TICKETS LAYOUT
 ------------------------------------------ */
.layout .tickets-table-issues {
  font-family: GothamProLight;
  padding-right: 5px;
}
.layout .layout-content__elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout .layout-content__elements .smarts-input {
  font-size: 14px;
  width: 25%;
  min-width: 210px;
  background: #c1c1c1;
  transition: 0.3s;
  border-radius: 5px;
}
.layout .layout-content__elements .smarts-input:hover, .layout .layout-content__elements .smarts-input:focus {
  box-shadow: 0 0 3px 0.1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 3px 0.1px rgba(0, 0, 0, 0.4);
}
.layout .layout-content__elements .new-ticket-button {
  width: 210px;
}
@media (max-width: 576px) {
  .layout .layout-content__elements {
    flex-direction: column;
    align-items: center;
  }
  .layout .layout-content__elements .smarts-input,
.layout .layout-content__elements .new-ticket-button {
    width: 100%;
  }
  .layout .layout-content__elements ::-webkit-input-placeholder {
    text-align: center;
  }
  .layout .layout-content__elements ::-moz-placeholder {
    text-align: center;
  }
  .layout .layout-content__elements :-ms-input-placeholder {
    text-align: center;
  }
}

/* ------------------------------------------
 TICKETS TABLE
 ------------------------------------------ */
.ticket-table__head {
  font-size: 14px;
}
.ticket-table__head .table-sort-icon {
  height: 17px;
  width: auto;
}
.ticket-table__head th {
  border-top: none !important;
}
.ticket-table__body {
  font-family: GothamProLight;
}
.ticket-table__body td:first-child {
  font-family: GothamProRegular;
}
@media screen and (max-width: 768px) {
  .ticket-table table, .ticket-table thead, .ticket-table tbody, .ticket-table th, .ticket-table td, .ticket-table tr {
    display: block;
  }
  .ticket-table thead tr {
    display: none;
  }
  .ticket-table tr {
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  .ticket-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 0;
    padding-left: 50% !important;
  }
  .ticket-table td:before {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 45%;
    white-space: nowrap;
    font-family: GothamProMedium;
  }
  .ticket-table td:nth-of-type(1):before {
    content: "Number ";
  }
  .ticket-table td:nth-of-type(2):before {
    content: "Ticket name";
  }
  .ticket-table td:nth-of-type(3):before {
    content: "Client name";
  }
  .ticket-table td:nth-of-type(4):before {
    content: "Assignee";
  }
  .ticket-table td:nth-of-type(5):before {
    content: "Created at";
  }
  .ticket-table td:nth-of-type(6):before {
    content: "Status";
  }
}

.pagination .smarts-page-item:hover {
  background-color: #e9ecef;
  cursor: pointer;
}
.pagination .smarts-page-item .smarts-page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  color: #000000;
  text-decoration: none;
  border: 1px solid #dee2e6;
  outline: none;
}
.pagination .smarts-page-item.active .smarts-page-link {
  background-color: #655290;
  border-color: #655290;
  color: #ffffff;
}
.pagination .smarts-page-item:last-child .smarts-page-link {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pagination .smarts-page-item:first-child .smarts-page-link {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* ------------------------------------------
 TICKET MODAL FORM
 ------------------------------------------ */
.ticket-modal-content {
  font-family: GothamProRegular;
}
.ticket-modal-content .modal-underline-selector {
  border-bottom: none !important;
  border-top: none !important;
}
.ticket-modal-content .ticket-create-button-area {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.ticket-modal-content .ticket-create-button-area .ticket-create-button {
  width: 115px;
  height: 32px;
}
.ticket-modal-content .payments-form-selectors {
  display: flex;
  justify-content: space-between;
}
.ticket-modal-content .payments-form-selectors .smarts-ticket-form {
  width: 47%;
}
@media (max-width: 576px) {
  .ticket-modal-content .payments-form-selectors {
    flex-direction: column;
  }
  .ticket-modal-content .payments-form-selectors .smarts-ticket-form {
    width: 100%;
  }
}

.smarts-ticket-form {
  position: relative;
  font-size: 15px;
}
.smarts-ticket-form.form-group {
  margin-bottom: 30px;
}
.smarts-ticket-form .smarts-ticket-selector-label {
  color: #8C8C8C;
  font-size: 13px;
  margin-bottom: 0 !important;
}
.smarts-ticket-form .smarts-ticket-label {
  position: absolute;
  pointer-events: none;
  top: 26%;
  left: 10px;
  transition: 0.2s ease all;
  color: #8C8C8C;
}
.smarts-ticket-form .smarts-input:focus ~ .smarts-ticket-label, .smarts-ticket-form .smarts-input:not(:focus):valid ~ .smarts-ticket-label,
.smarts-ticket-form .smarts-textarea:focus ~ .smarts-ticket-label,
.smarts-ticket-form .smarts-textarea:not(:focus):valid ~ .smarts-ticket-label {
  top: -17px;
  left: 0;
  font-size: 13px;
}

/* ------------------------------------------
 TICKET DETAILS
 ------------------------------------------ */
.ticket-details-main {
  display: flex;
  flex-wrap: wrap;
}
.ticket-details-main-half {
  width: 50%;
}
.ticket-details-secondary-comments .module-content {
  max-height: 270px;
  overflow: auto;
}
.ticket-details-secondary-comments .module-content .comment {
  margin-bottom: 25px;
}
.ticket-details-secondary-comments .module-content .comment .date-time {
  color: #7a869a;
}
.ticket-details-secondary-comments .module-content .comment .text {
  margin: 7px 0;
}
.ticket-details-secondary-comments .module-content .comment .date-time,
.ticket-details-secondary-comments .module-content .comment .text {
  padding-left: 33px;
}
.ticket-details .module {
  margin-bottom: 30px;
}
.ticket-details .module-header {
  font-family: GothamProMedium;
  margin-bottom: 6px;
  display: inline-block;
}
.ticket-details .module-content .module-list {
  list-style: none;
  padding: 0;
}
.ticket-details .module-content .module-list-item {
  display: flex;
  margin-bottom: 10px;
  margin-right: 30px;
}
.ticket-details .module-content .module-list-item__title {
  min-width: 125px;
  color: #7a869a;
  font-family: GothamProLight;
}
.ticket-details .module-content .module-list-item__value .username-card__logo {
  height: 20px;
}
.ticket-details .module-content .module-list-item .styles_Editext__button__6H8n_,
.ticket-details .module-content .module-list-item .styles_Editext__input__1534X {
  padding: 0;
}
.ticket-details .module-content .module-list-item .styles_Editext__button__6H8n_ {
  min-width: 21px;
}
.ticket-details .module-content .module-list-item .ticket-priority {
  border-radius: 3px;
  color: #ffffff;
}
.ticket-details .module-content .module-list-item .ticket-priority.priority-high {
  background: #E74C3C;
}
.ticket-details .module-content .module-list-item .ticket-priority.priority-medium {
  background: #f9ca24;
}
.ticket-details .module-content .module-list-item .ticket-priority.priority-low {
  background: #6ab04c;
}
.ticket-details .module-footer .smarts-textarea {
  border-top: 2px solid #655290;
  margin: 0;
  border-bottom: none;
}
.ticket-details .module-footer .smarts-textarea:hover, .ticket-details .module-footer .smarts-textarea:focus {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
}
.ticket-details .module-footer .button-area {
  display: flex;
  justify-content: flex-end;
}
.ticket-details .module-footer .button-area .comment-button {
  width: 160px;
  margin-top: 10px;
}
@media screen and (max-width: 992px) {
  .ticket-details-main {
    flex-direction: column;
  }
  .ticket-details-main-half {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .ticket-details .module {
    margin-bottom: 50px;
  }
  .ticket-details .module-header {
    font-size: 14px;
    text-transform: uppercase;
  }
  .ticket-details .module-content .module-list-item {
    display: block;
    flex-direction: column;
    margin-bottom: 12px;
  }
  .ticket-details .module-content .module-list-item select {
    min-width: 130px;
  }
  .ticket-details .module-footer .button-area {
    justify-content: center;
  }
  .ticket-details .module-footer .button-area .comment-button {
    width: 100%;
  }
}

/* ------------------------------------------
 AUTHORIZATION / REGISTRATION
 ------------------------------------------ */
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8b5da6;
  height: 100vh;
}
.auth-form {
  font-family: GothamProLight;
  background-color: #fff;
  width: 420px;
  border-radius: 5px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  padding: 50px;
}
.auth-form-header {
  display: flex;
  justify-content: center;
}
.auth-form-header__logo {
  width: 200px;
  height: auto;
  margin-left: -15px;
}
.auth-form-body {
  padding: 30px 0 20px 0;
  font-size: 14px;
}
.auth-form-body > div {
  margin: 25px 0;
}
.auth-form-body__item {
  position: relative;
}
.auth-form-body__item-label {
  padding-left: 1px;
  margin-bottom: 0;
  font-size: 13px;
}
.auth-form-body__item-input {
  width: 100%;
  height: 34px;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  font-family: GothamProRegular;
}
.auth-form-body__item-input:focus {
  outline: none;
}
.auth-form-body__item-input:focus + .focus-border::before, .auth-form-body__item-input:not(:focus):valid ~ .focus-border::before {
  width: 100%;
}
.auth-form-body__item .focus-border {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.auth-form-body__item .focus-border::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #f68d37;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.auth-form-body .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #655290;
  background-color: #655290;
  outline: none !important;
}
.auth-form-body .custom-control-label::before {
  top: 0.12rem;
  cursor: pointer;
}
.auth-form-body .custom-control-label::after {
  cursor: pointer;
}
.auth-form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-form-footer .smarts-button.btn-sign-in {
  width: 100%;
  background: #f68d37;
  border-radius: 5px;
}
.auth-form-footer .smarts-button.btn-sign-in:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
  transition: 0.2s;
}
.auth-form-footer a {
  width: 100%;
  color: #655290;
  font-family: GothamProRegular;
  margin-bottom: 10px;
}
.auth-form-footer a:hover {
  text-decoration: none;
  color: #f68d37;
}
.auth-form-footer span {
  margin: 5px 0;
}

/* ------------------------------------------
 ACCOUNT DROPDOWN CARD
 ------------------------------------------ */
.dropdown-card .dropdown-menu {
  font-size: 13px;
  width: 100%;
}
.dropdown-card .dropdown-item {
  padding: 0.25rem 0.4rem !important;
}
.dropdown-card .dropdown-item:active {
  background: #f68d37;
}
.dropdown-card .dropdown button {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: GothamProMedium;
  background: none;
}
.dropdown-card__items-logo {
  height: 20px;
  width: auto;
  padding: 0 8px;
}
.dropdown-card__items-logo.profile-icon {
  height: 17px;
}
.dropdown-card .username-card__logo {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .dropdown-card .dropdown .btn {
    padding: 0.375rem 0.2rem;
  }
}
.dropdown-card .dropdown button:hover,
.dropdown-card .show > .btn-primary.dropdown-toggle {
  background: #56457B !important;
}

/*# sourceMappingURL=style.css.map */
