@import "variables/variables";
@import "reset/reset";

/* ------------------------------------------
 GLOBAL CSS
 ------------------------------------------ */

.Main {
  font-family: $font-regular;
  font-size: 13px;

  button:focus {
    outline: none;
  }

  .btn {
    border: none;

    &-primary:focus {
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
    }
  }

  select > option {
    background: white !important;
    color: $color-black;
    margin-bottom: -1px;
  }

  select > option:disabled {
    color: #AAAAAA;
  }
}

.fade.modal-backdrop.show {
  width: 100%;
  height: 100%;
}

.modal-content button.close {
  outline: none;
}

.modal .container {
  padding-left: 10px;
  padding-right: 10px;
}

.smarts-button {
  font-family: $font-regular;
  background: $color-smarts-main;
  border-radius: 5px;
  color: $color-white;
  border: none;
  height: 38px;
  font-size: 15px;
  transition: .3s;

  &:hover {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
  }
}

.smarts-input,
.smarts-select {
  height: 38px;
}

.smarts-textarea {
  height: 95px;
  resize: none;
}

.smarts-input,
.smarts-select,
.smarts-textarea {
  width: 100%;

  border-bottom: 1px solid $color-smarts-main;
  margin: 4px 0;
  background: #F0F0F0;
  padding: 6px 12px;

  &:hover,
  &:focus {
    border-bottom: 2px solid $color-smarts-main;
    padding-bottom: 5px;
  }
}

.username-card {
  display: flex;
  align-items: center;

  .username-card__name {
    padding: 0 8px;
  }

  .username-card__logo {
    color: $color-smarts-main;
    width: auto;
    height: 25px;
    border-radius: 50%;
  }
}

@mixin container-media {
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }

  @media screen and (max-width: 1199px) and (min-width: 991px) {
    .container {
      max-width: 960px;
    }
  }

  @media screen and (max-width: 992px) and (min-width: 767px) {
    .container {
      max-width: 720px;
    }
  }

  @media screen and (max-width: 768px) and (min-width: 576px) {
    .container {
      max-width: 720px;
    }
  }
}

/* ------------------------------------------
  TOP-MENU
 ------------------------------------------ */

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-light;
  height: 100%;

  .sidebar-hamburger {
    display: none;

    .sidebar-button {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 24px;
      width: 32px;
      cursor: pointer;
      border: none;
      background: transparent;

      .sidebar-button__line {
        width: 100%;
        height: 2px;
        background: $color-white;
      }
    }
  }

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    img:nth-child(1) {
      height: 60px;
      width: auto;
    }

    img:nth-child(2) {
      display: none;
      height: auto;
      width: 80px;
    }
  }

  @media screen and (max-width: 768px) {
    .top-menu-links {
      display: none;
    }
    .sidebar-hamburger {
      display: inherit;
    }

    &-logo {
      padding-right: 0;
      height: 60px;

      img:nth-child(1) {
        display: none;
      }

      img:nth-child(2) {
        display: inherit;
      }
    }

    .username-card__name {
      display: none;
    }
  }
}

/* ------------------------------------------
 SIDEBAR-MENU
 ------------------------------------------ */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 90px;
  background: $color-smarts-main;
  box-shadow: 2px 0 7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 0 7px rgba(0, 0, 0, 0.5);
  z-index: 30;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  &.open {
    transform: translateX(0);

    .sidebar-close-button {
      position: absolute;
      top: 10px;
      right: -35px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
  }


  .navigation {
    display: flex;
    flex-direction: column;
  }
}

.backdrop {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 20;
  transition: opacity .3s ease;
}

@media screen and (min-width: 769px) {
  .sidebar,
  .backdrop {
    display: none;
  }
}

/* ------------------------------------------
 NAVIGATION LINKS
 ------------------------------------------ */

.navigation {
  &-link {
    height: 80px;
    width: 90px;

    &.active {
      background: $color-smarts-hover;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $color-white;
      height: 80px;
      width: 90px;
      transition: 0.3s;

      &:hover {
        background: $color-smarts-hover;
        text-decoration: none;
        color: $color-white;
      }

      &__logo {
        height: 35px;
        width: auto;
      }
    }
  }
}

/* ------------------------------------------
 LAYOUTS
 ------------------------------------------ */

.layout {
  display: flex;
  flex-direction: column;

  &-header {
    @include container-media;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: $color-smarts-main;
    z-index: 10;

    .container {
      height: 100%;
    }

    @media screen and (max-width: 768px) {
      height: 60px;
    }
  }

  &-content {
    @include container-media;
    margin-top: 110px;

    &__title {
      font-family: $font-bold;
      margin-bottom: 20px;
    }

    &__body {
      position: relative;
      padding: 25px;
      margin: 20px 0;
      -webkit-box-shadow: 0 5px 45px rgba(32, 32, 32, 0.1);
      box-shadow: 0 5px 45px rgba(32, 32, 32, 0.1);
      min-height: 300px;

      .jneUDS > *,
      .dNbWJJ > *,
      .ckAHgq > * {
        background-color: $color-smarts-main;
      }
    }
  }
}


/* ------------------------------------------
 HOME LAYOUT
 ------------------------------------------ */
.layout {
  &-content {
    &__body {
      &.home {
        display: flex;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
      }

      &-item {
        -webkit-box-shadow: 0 10px 45px rgba(32, 32, 32, 0.1);
        box-shadow: 0 10px 45px rgba(32, 32, 32, 0.1);

        &:first-child {
          margin-right: 40px;
          height: 100%;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        &.account_activities {
          flex: 1;
          height: 100%;
        }
      }

      @media screen and (max-width: 768px) {
        &.home {
          flex-direction: column;
          align-items: center;
        }

        &-item {
          &.account_activities {
            width: 100%;
          }

          &.account_profile {
            align-self: flex-start;
          }

          &:first-child {
            margin-right: 0;
            margin-bottom: 40px;
          }
        }
      }

      @media screen and (max-width: 576px) {
        &-item {
          &.account_profile {
            width: 100%;
          }
        }

      }
    }
  }
}

/* ------------------------------------------
 PROFILE [HOME LAYOUT]
 ------------------------------------------ */

.profile {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 226px;
  border-radius: 5px;


  &-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-smarts-hover;
    color: $color-white;
    padding: 25px 35px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    &__picture {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 130px;
      width: 130px;
      margin-bottom: 15px;
      border-radius: 50%;
      border: 1px solid $color-smarts-secondary;
      -webkit-box-shadow: 0 0 20px rgba(241, 141, 55, 0.4);
      box-shadow: 0 0 20px rgba(241, 141, 55, 0.4);
      transition: 0.2s;

      &-content {
        height: 120px;
        width: 120px;

        img {
          width: auto;
          height: 100%;
          border-radius: 50%;
        }
      }

      &:hover {
        -webkit-box-shadow: 0 0 25px rgba(241, 141, 55, 0.5);
        box-shadow: 0 0 25px rgba(241, 141, 55, 0.5);
      }
    }

    &__name {
      font-size: 17px;
      font-family: $font-medium;
      margin-bottom: 8px;
      text-align: center;
    }

    &__contact {
      font-family: $font-light;
      line-height: 2.3;
      word-break: break-all;

      &-logo {
        height: 20px;
        width: auto;
        margin-right: 5px;
      }
    }
  }

  &-stats {
    padding: 20px;

    &__related-tickets {
      width: 100%;
    }

    &__title {
      font-family: $font-regular;
      font-size: 14px;
      text-align: center;
      margin-bottom: 5px;
    }

    &__amount {
      display: flex;
      width: 100%;
      justify-content: space-around;

      &-type {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 70px;

        .count {
          font-family: $font-medium;
          font-size: 22px;
        }

        .name {
          font-family: $font-light;
          color: $color-light-gray;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    max-width: 100%;
  }
}

/* ------------------------------------------
 ACCOUNT ACTIVITIES [HOME LAYOUT]
 ------------------------------------------ */

.activities {
  padding: 25px;

  &-header {
    font-family: $font-medium;
    margin-bottom: 30px;
  }

  &-body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    &::before {
      background-color: $color-smarts-main;
      content: '';
      position: absolute;
      left: calc(21% - 2px);
      width: 3px;
      height: 100%;
      transition: 0.1s;
    }

    &-item {
      display: flex;
      position: relative;
      margin-bottom: 45px;

      &:last-child {
        margin-bottom: 0;
      }

      &__date {
        width: 21%;
        color: $color-light-gray;
        padding-right: 25px;
      }

      &__text {
        width: 79%;
        padding-left: 25px;

        &-username {
          font-family: $font-bold;
          padding-right: 5px;
        }

        &-number a {
          font-family: $font-medium;
          text-transform: uppercase;

          &:hover {
            color: $color-smarts-secondary;
          }
        }

        &-username,
        &-number a {
          color: $color-smarts-main;
        }
      }

      &__circle {
        background-color: $color-white;
        border: 3px solid $color-smarts-main;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        left: calc(21% - 10px);
        z-index: 5;
        transition: left 0.1s, transform 0.2s;
      }

      &:hover &__circle {
        transform: scale(1.2);
      }
    }
  }

  @media screen and (max-width: 992px) {
    &-body {

      &::before {
        background-color: $color-smarts-main;
        content: '';
        position: absolute;
        left: 8px;
        width: 3px;
        height: 100%;
      }

      &-item {
        flex-direction: column;

        &__date {
          width: 100%;
          order: 2;
          //padding-right: 0;
          //padding-left: 30px;
          padding: 5px 0 0 30px;
        }

        &__text {
          width: 100%;
          order: 1;
          padding-left: 30px;
        }

        &__circle {
          left: 0;
        }
      }
    }
  }

}

/* ------------------------------------------
 TICKETS LAYOUT
 ------------------------------------------ */
.layout {
  .tickets-table-issues {
    font-family: $font-light;
    padding-right: 5px;
  }

  &-content__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .smarts-input {
      font-size: 14px;
      width: 25%;
      min-width: 210px;
      background: #c1c1c1;
      transition: 0.3s;
      border-radius: 5px;

      &:hover,
      &:focus {
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
      }
    }

    .new-ticket-button {
      width: 210px;
    }
  }

  @media (max-width: 576px) {
    &-content__elements {
      flex-direction: column;
      align-items: center;

      .smarts-input,
      .new-ticket-button {
        width: 100%;
      }

      ::-webkit-input-placeholder {
        text-align: center;
      }

      ::-moz-placeholder {
        text-align: center;
      }

      :-ms-input-placeholder {
        text-align: center;
      }
    }

    &-content__body {
      &.tickets-table-content {
        padding: 20px 0;
      }
    }
  }
}


/* ------------------------------------------
 TICKETS TABLE
 ------------------------------------------ */

.ticket-table {
  &__head {
    font-size: 14px;

    th {
      border-top: none !important;

      .table-sort-icon {
        height: 17px;
        width: auto;
      }
    }

    &-col-name {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__body {
    font-family: $font-light;

    td:first-child {
      font-family: $font-regular;
    }
  }

  @media screen and (max-width: 768px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      display: none;
    }

    tr {
      border: 1px solid #ccc;
      margin-bottom: 20px;
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding: 0;
      padding-left: 50% !important;
    }

    td:before {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 45%;
      white-space: nowrap;
      font-family: $font-medium;
    }

    td:nth-of-type(1):before {
      content: "Number ";
    }
    td:nth-of-type(2):before {
      content: "Ticket name";
    }
    td:nth-of-type(3):before {
      content: "Client name";
    }
    td:nth-of-type(4):before {
      content: "Assignee";
    }
    td:nth-of-type(5):before {
      content: "Created at";
    }
    td:nth-of-type(6):before {
      content: "Status";
    }
  }
}

.pagination {
  .smarts-page-item {
    &:hover {
      background-color: #e9ecef;
      cursor: pointer;
    }

    .smarts-page-link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 35px;
      color: $color-black;
      text-decoration: none;
      border: 1px solid #dee2e6;
      outline: none;
    }

    &.active .smarts-page-link {
      background-color: $color-smarts-main;
      border-color: $color-smarts-main;
      color: $color-white;
    }

    &:last-child .smarts-page-link {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &:first-child .smarts-page-link {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}

/* ------------------------------------------
 TICKET MODAL FORM
 ------------------------------------------ */

.ticket-modal-content {
  font-family: $font-regular;


  .modal-underline-selector {
    border-bottom: none !important;
    border-top: none !important;
  }


  .ticket-create-button-area {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;

    .ticket-create-button {
      width: 115px;
      height: 32px;
    }
  }

  .payments-form-selectors {
    display: flex;
    justify-content: space-between;

    .smarts-ticket-form {
      width: 47%;
    }

    @media screen and (max-width: 576px) {
      flex-direction: column;

      .smarts-ticket-form {
        width: 100%;
      }
    }
  }
}

.smarts-ticket-form {
  position: relative;
  font-size: 15px;

  &.form-group {
    margin-bottom: 30px;
  }


  .smarts-ticket-selector-label {
    color: #8C8C8C;
    font-size: 13px;
    margin-bottom: 0 !important;
  }

  .smarts-ticket-label {
    position: absolute;
    pointer-events: none;
    top: 26%;
    left: 10px;
    transition: 0.2s ease all;
    color: #8C8C8C;
  }

  .smarts-input,
  .smarts-textarea {
    &:focus ~ .smarts-ticket-label,
    &:not(:focus):valid ~ .smarts-ticket-label {
      top: -17px;
      left: 0;
      font-size: 13px;
    }
  }
}


/* ------------------------------------------
 TICKET DETAILS
 ------------------------------------------ */

.ticket-details {
  &-main {
    display: flex;
    flex-wrap: wrap;

    &-half {
      width: 50%;
    }
  }

  &-secondary {
    &-comments {
      .module-content {
        max-height: 270px;
        overflow: auto;

        .comment {
          margin-bottom: 25px;

          .date-time {
            color: $color-light-gray;
          }

          .text {
            margin: 7px 0;
          }

          .date-time,
          .text {
            padding-left: 33px;
          }
        }
      }
    }
  }

  .module {
    margin-bottom: 30px;

    &-header {
      font-family: $font-medium;
      margin-bottom: 6px;
      display: inline-block;
    }

    &-content {
      .module-list {
        list-style: none;
        padding: 0;

        &-item {
          display: flex;
          margin-bottom: 10px;
          margin-right: 30px;

          &__title {
            min-width: 125px;
            color: $color-light-gray;
            font-family: $font-light;
          }

          &__value {
            .username-card__logo {
              height: 20px;
            }
          }

          .styles_Editext__button__6H8n_,
          .styles_Editext__input__1534X {
            padding: 0;
          }

          .styles_Editext__button__6H8n_ {
            min-width: 21px;
          }

          .ticket-priority {
            border-radius: 3px;
            color: $color-white;

            &.priority-high {
              background: #E74C3C;
            }

            &.priority-medium {
              background: #f9ca24;
            }

            &.priority-low {
              background: #6ab04c;
            }
          }
        }
      }
    }

    &-footer {
      .smarts-textarea {
        border-top: 2px solid $color-smarts-main;
        margin: 0;
        border-bottom: none;

        &:hover,
        &:focus {
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
          -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
        }
      }

      .button-area {
        display: flex;
        justify-content: flex-end;

        .comment-button {
          width: 160px;
          margin-top: 10px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    &-main {
      flex-direction: column;

      &-half {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .module {
      margin-bottom: 50px;

      &-header {
        font-size: 14px;
        text-transform: uppercase;
      }

      &-content {
        .module-list {
          &-item {
            display: block;
            flex-direction: column;
            margin-bottom: 12px;

            select {
              min-width: 130px;
            }
          }
        }
      }

      &-footer {
        .button-area {
          justify-content: center;

          .comment-button {
            width: 100%;
          }
        }
      }
    }
  }
}

/* ------------------------------------------
 AUTHORIZATION / REGISTRATION
 ------------------------------------------ */

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-smarts-main-v2;
  height: 100vh;

  &-form {
    font-family: $font-light;
    background-color: #fff;
    width: 420px;
    border-radius: 5px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
    padding: 50px;

    &-header {
      display: flex;
      justify-content: center;

      &__logo {
        width: 200px;
        height: auto;
        margin-left: -15px;
      }
    }

    &-body {
      padding: 30px 0 20px 0;
      font-size: 14px;

      > div {
        margin: 25px 0;
      }

      &__item {
        position: relative;

        &-label {
          padding-left: 1px;
          margin-bottom: 0;
          font-size: 13px;
        }

        &-input {
          width: 100%;
          height: 34px;
          border: none;
          border-bottom: 2px solid #d9d9d9;
          font-family: $font-regular;

          &:focus {
            outline: none;
          }

          &:focus + .focus-border::before,
          &:not(:focus):valid ~ .focus-border::before {
            width: 100%;
          }
        }

        .focus-border {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          pointer-events: none;

          &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background: $color-smarts-secondary;
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            -moz-transition: all .4s;
            transition: all .4s;
          }
        }
      }

      .custom-control-input:checked ~ .custom-control-label::before {
        border-color: $color-smarts-main;
        background-color: $color-smarts-main;
        outline: none !important;
      }

      .custom-control-label::before {
        top: .12rem;
        cursor: pointer;
      }

      .custom-control-label::after {
        cursor: pointer;
      }
    }

    &-footer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .smarts-button.btn-sign-in {
        width: 100%;
        background: $color-smarts-secondary;
        border-radius: 5px;

        &:hover {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
          -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
          transition: 0.2s;
        }
      }

      a {
        width: 100%;
        color: $color-smarts-main;
        font-family: $font-regular;
        margin-bottom: 10px;

        &:hover {
          text-decoration: none;
          color: $color-smarts-secondary;
        }
      }

      span {
        margin: 5px 0;
      }
    }
  }
}

/* ------------------------------------------
 ACCOUNT DROPDOWN CARD
 ------------------------------------------ */
.dropdown-card {
  .dropdown {
    &-menu {
      font-size: 13px;
      width: 100%;
    }

    &-item {
      padding: .25rem 0.4rem !important;

      &:active {
        background: $color-smarts-secondary;
      }
    }

    button {
      display: flex;
      align-items: center;
      font-size: 13px;
      font-family: $font-medium;
      background: none;
    }
  }

  &__items-logo {
    height: 20px;
    width: auto;
    padding: 0 8px;

    &.profile-icon {
      height: 17px;
    }
  }

  .username-card__logo {
    color: $color-white;
  }

  @media screen and (max-width: 768px) {
    .dropdown {
      .btn {
        padding: .375rem .2rem;
      }
    }
  }

  .dropdown button:hover,
  .show > .btn-primary.dropdown-toggle {
    background: $color-smarts-hover !important;
  }
}




