$font-light: GothamProLight;
$font-regular: GothamProRegular;
$font-medium: GothamProMedium;
$font-bold: GothamProBold;
$color-smarts-main: #655290;
$color-smarts-main-v2: #8b5da6;
$color-smarts-secondary: #f68d37;
$color-white: #ffffff;
$color-black: #000000;
$color-light-gray: #7a869a ;