$font-light: GothamProLight;
$font-regular: GothamProRegular;
$font-medium: GothamProMedium;
$font-bold: GothamProBold;
$color-smarts-main: #655290;
$color-smarts-main-v2: #8b5da6;
$color-smarts-secondary: #f68d37;
;

.Main {
  font-family: $font-regular;

  .container-fluid {
    margin-left: 120px;
    width: calc(100% - 120px);
    padding: 0 3vw;
  }
}

.layout {
  margin: 0 4vw;

  .layout-head {
    height: 9vh;
    min-height: 50px;
    padding-top: 40px;
  }

  .page-title {
    font-family: $font-bold;
    margin-bottom: 15px;
    margin-top: 15px;

    .page-subtitle {
      font-family: $font-medium;
    }

    .tickets-table-issues {
      font-family: $font-light;
    }
  }

  .layout-body {
    padding: 20px 30px;
    margin: 20px 0;
    -webkit-box-shadow: 0 8px 64px rgba(32, 32, 32, 0.08), 0 4px 16px rgba(32, 32, 32, 0.02);
    box-shadow: 0 8px 64px rgba(32, 32, 32, 0.08), 0 4px 16px rgba(32, 32, 32, 0.02);
  }
}


.btn {
  border: none !important;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.smarts-button {
  font-family: $font-regular;
  background: $color-smarts-main !important;
  border-radius: 10px !important;
  padding: 0 !important;

  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
  }
}

.smarts-input,
.smarts-select {
  height: 39px;
}

.smarts-textarea {
  height: 95px;
  resize: none;
}

.smarts-input,
.smarts-select,
.smarts-textarea {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid $color-smarts-main;
  box-shadow: none;
  margin: 4px 0;
  background: #F0F0F0;
  padding: 6px 12px;

  &:hover,
  &:focus {
    border-bottom: 2px solid $color-smarts-main;
    padding-bottom: 5px;
  }
}

input:required {
  box-shadow: none;
}

/* ------------------------------------------
 AUTHORIZATION
 ------------------------------------------ */

.auth-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-smarts-main-v2;
  height: 100vh;
}

.auth-form {
  font-family: $font-light;
  background-color: #fff;
  width: 450px;
  height: 600px;
  border-radius: 5px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  padding: 50px;
}

.auth-header {
  display: flex;
  justify-content: center;

  &-logo {
    width: 200px;
    height: auto;
  }
}


.auth-body {
  padding: 30px 0 20px 0;
  font-size: 14px;

  > div {
    margin: 25px 0;
  }

  &-item {
    position: relative;

    .auth-label {
      padding-left: 1px;
      margin-bottom: 0;
      font-size: 13px;
    }

    .auth-input {
      width: 100%;
      height: 34px;
      border: none;
      border-bottom: 2px solid #d9d9d9;

      &:focus {
        outline: none;
      }

      &:focus + .focus-border::before,
      &:not(:focus):valid ~ .focus-border::before {
        width: 100%;
      }
    }

    .focus-border {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: $color-smarts-secondary;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        -moz-transition: all .4s;
        transition: all .4s;
      }
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: $color-smarts-main;
    background-color: $color-smarts-main;
    outline: none !important;
  }

  .auth-button-area {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .sign-in {
      width: 100%;
    }

    .smarts-button.btn-sign-in {
      width: 100%;
      height: 35px;
      background: $color-smarts-secondary !important;
      border-radius: 5px !important;
      font-size: 16px;

      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
      }
    }
  }
}

.auth-footer {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: $color-smarts-main;
    font-family: $font-regular;

    &:hover {
      text-decoration: none;
      color: $color-smarts-secondary;
    }
  }

  div {
    margin: 5px 0;
  }
}

/* ------------------------------------------
 SIDEBAR MENU
 ------------------------------------------ */

.sidebar {
  font-family: $font-light;
  font-size: 13px;
  background: $color-smarts-main;
  width: 100px;
  height: 100vh;
  position: fixed;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;

  img {
    height: 70px;
    width: auto;
  }
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 90px;

  &:hover {
    background: #56457B;
    text-decoration: none;
    color: white;
  }

  .sidebar-link-logo {
    height: 40px;
    width: auto;
  }
}

.sidebar-links .active {
  background: #56457B;
}


/* ------------------------------------------
 ACCOUNT DROPDOWN CARD
 ------------------------------------------ */

.account-card {
  position: relative;

  .account-card-body {
    position: absolute;
    right: 0;

    button {
      font-size: 13px;
      font-family: $font-medium;
      background: none;
      color: black;
    }

    .dropdown-menu {
      font-size: 13px;
      width: 100%;
    }

    .dropdown-item {
      padding: .25rem 0.4rem !important;

    }
  }
}

.account-card-logo {
  height: 20px;
  width: auto;
  color: $color-smarts-main;
}

.account-card-body button:hover,
.show > .btn-primary.dropdown-toggle {
  background: $color-smarts-main !important;
  color: white !important;
}

.account-card-body button:hover .account-card-logo,
.show > .btn-primary.dropdown-toggle .account-card-logo {
  color: white;
}

.account-button-title {
  padding: 0 8px;
}

.account-card-items-logo {
  height: 20px;
  width: auto;
  padding: 0 8px;

  &.profile-icon {
    height: 17px;
  }
}

.dropdown-link,
.dropdown-link:hover {
  color: #000;
}

.dropdown-link:hover {
  text-decoration: none;
}

/* ------------------------------------------
 PROFILE MODAL
 ------------------------------------------ */

.modal-body {
  &.profile-body {
    padding: 0 !important;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 0 30px 40px;

  .profile-top {
    display: flex;
    width: 100%;
    background: $color-smarts-main;
    padding: 12px;
    color: white;
    border-radius: 3px;

    .profile-top-picture {
      display: flex;
      justify-content: center;
      flex: 2;

      img {
        width: auto;
        height: 120px;
        border-radius: 50%;
      }
    }

    .profile-top-contact {
      flex: 3;
      font-size: 14px;
      font-family: $font-light;
      line-height: 2;

      .profile-top-contact-name {
        font-size: 20px;
        font-family: $font-medium;
        margin-bottom: 8px;
        padding-left: 5px;
      }

      .profile-top-contact-logo {
        height: 20px;
        width: auto;
        margin-right: 5px;
      }
    }
  }

  .profile-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .profile-bottom-title {
      padding: 30px 0 5px;
      font-family: $font-regular;
      font-size: 14px;
    }

    .profile-bottom-amount {
      display: flex;
      width: 100%;

      .profile-bottom-amount-type {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;

        .count {
          font-family: $font-medium;
          font-size: 26px;
        }

        .name {
          font-family: $font-light;
          font-size: 13px;
          color: #7a869a;
        }
      }
    }
  }

}

/* ------------------------------------------
 TICKETS LAYOUT
 ------------------------------------------ */

.new-ticket-button {
  font-size: 16px;
  width: 160px;
  height: 36px;
}

.button-search-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .smarts-input {
    font-size: 14px;
    width: 25%;
    background: #c1c1c1;
    border-radius: 1px;

    &:hover,
    &:focus {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
    }
  }
}

.ticket-table-head {
  font-size: 14px;

  th {
    border-top: none !important;
  }
}

.ticket-table-body {
  font-family: $font-light;
  font-size: 13px;
}

/* ------------------------------------------
 TICKET MODAL FORM
 ------------------------------------------ */

.ticket-modal-content {
  font-family: $font-regular;
}

.ticket-create-button-area {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;

  .ticket-create-button {
    width: 115px;
    height: 32px;
    font-size: 13px;
  }
}

.modal-underline-selector {
  border-bottom: none !important;
  border-top: none !important;
}

.smarts-ticket-box {
  position: relative;
  width: 100%;
  font-size: 15px;

  &.form-group{
    margin-bottom: 30px;
  }


  .smarts-ticket-selector-label {
    color: #8C8C8C;
    font-size: 13px;
    margin-bottom: 0 !important;
  }

  .smarts-ticket-label {
    position: absolute;
    pointer-events: none;
    top: 25%;
    left: 10px;
    transition: 0.2s ease all;
    color: #8C8C8C;
  }

  .smarts-input,
  .smarts-textarea {
    &:focus ~ .smarts-ticket-label,
    &:not(:focus):valid ~ .smarts-ticket-label {
      top: -15px;
      left: 0;
      font-size: 13px;
      opacity: 1;
    }
  }
}


/* ------------------------------------------
 TICKETS DETAILS
 ------------------------------------------ */

.details-group {
  display: flex;
  font-size: 13px;
  box-sizing: border-box;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;

  .main-column {
    flex: 2;
  }

  .side-column {
    flex: 1;
  }
}

.module {
  margin-bottom: 30px;

  .module-header {
    font-family: $font-medium;
    margin-bottom: 6px;
  }

  .module-content {
    .description {
      margin-right: 45px;
    }

    .comment {
      margin-bottom: 25px;

      .date-time {
        color: #7a869a;
        font-size: 13px;
      }

      .text {
        margin: 7px 0;
      }

      .author .account-card-logo {
        height: 25px;
        width: auto;

      }

      .date-time,
      .text {
        padding-left: 33px;
      }
    }
  }


  .two-columns {
    display: flex;

    .column {
      flex: 1;
      margin: 0;
    }
  }
}


.module-list {
  list-style: none;
  padding: 0;

  .item {
    display: flex;
    margin-bottom: 7px;

    .name {
      width: 140px;
      color: #7a869a;
      font-family: $font-light;
    }
  }
}

.module-list.short-name .item .name {
  width: 100px;
}

.module-footer {
  .smarts-textarea {
    border-top: 2px solid $color-smarts-main;
    margin: 0 !important;
    border-bottom: none;

    &:hover,
    &:focus {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
    }
  }

  .button-area {
    display: flex;
    justify-content: flex-end;

    .comment-button {
      margin-top: 10px;
    }
  }
}

.styles_Editext__button__6H8n_,
.styles_Editext__input__1534X {
  padding: 0 !important;
}

.styles_Editext__button__6H8n_ {
  min-width: 24px !important;
}

.details-custom-priority {
  background: #E74C3C;
  color: white;
  padding: 0 3px;
  border-radius: 3px;
}



