/* ------------------------------------------
 GLOBAL CSS
 ------------------------------------------ */
html {
  min-width: 320px;
  height: 100%;
}

body {
  height: 100%;
}

input,
select,
textarea,
button {
  outline: none;
  border: none;
}

.Main {
  font-family: GothamProRegular;
}
.Main button:focus {
  outline: none;
}
.Main .btn {
  border: none;
}
.Main .btn-primary:focus {
  box-shadow: none !important;
}

.modal-content button.close {
  outline: none;
}

.smarts-button {
  font-family: GothamProRegular;
  background: #655290;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  height: 36px;
  font-size: 15px;
  transition: 0.3s;
}
.smarts-button:hover {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
}

.smarts-input,
.smarts-select {
  height: 39px;
}

.smarts-textarea {
  height: 95px;
  resize: none;
}

.smarts-input,
.smarts-select,
.smarts-textarea {
  width: 100%;
  border-bottom: 1px solid #655290;
  margin: 4px 0;
  background: #F0F0F0;
  padding: 6px 12px;
}
.smarts-input:hover, .smarts-input:focus,
.smarts-select:hover,
.smarts-select:focus,
.smarts-textarea:hover,
.smarts-textarea:focus {
  border-bottom: 2px solid #655290;
  padding-bottom: 5px;
}

/* ------------------------------------------
 LAYOUTS
 ------------------------------------------ */
.layout-header {
  margin-bottom: 30px;
  height: 80px;
  width: 100%;
  background: #655290;
}
@media screen and (min-width: 1200px) {
  .layout-header .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .layout-header .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .layout-header .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .layout-header .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .layout-content .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .layout-content .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .layout-content .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .layout-content .container {
    max-width: 720px;
  }
}
.layout-content__title {
  font-family: GothamProBold;
  margin-bottom: 20px;
}
.layout-content__subtitle {
  font-family: GothamProMedium;
}
.layout-content__body {
  padding: 20px 30px;
  margin: 20px 0;
  -webkit-box-shadow: 0 5px 64px rgba(32, 32, 32, 0.1);
  box-shadow: 0 5px 64px rgba(32, 32, 32, 0.1);
}

/* ------------------------------------------
 SIDEBAR MENU
 ------------------------------------------ */
.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: GothamProLight;
  font-size: 13px;
}
.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-right: 25px;
}
.sidebar-logo img {
  height: 60px;
  width: auto;
}
.sidebar-link {
  height: 80px;
  width: 90px;
}
.sidebar-link.active {
  background: #56457B;
}
.sidebar-link-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 100%;
  transition: 0.3s;
}
.sidebar-link-content:hover {
  background: #56457B;
  text-decoration: none;
  color: #ffffff;
}
.sidebar-link-content__logo {
  height: 35px;
  width: auto;
}

/* ------------------------------------------
 TICKETS LAYOUT
 ------------------------------------------ */
.layout .tickets-table-issues {
  font-family: GothamProLight;
  padding-right: 5px;
}
.layout .layout-content__body {
  min-height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.layout .layout-content__body .jneUDS > *,
.layout .layout-content__body .dNbWJJ > *,
.layout .layout-content__body .ckAHgq > * {
  background-color: #655290;
}
.layout .layout-content__elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout .layout-content__elements .smarts-input {
  font-size: 14px;
  width: 25%;
  background: #c1c1c1;
  transition: 0.3s;
}
.layout .layout-content__elements .smarts-input:hover, .layout .layout-content__elements .smarts-input:focus {
  box-shadow: 0 0 3px 0.1px rgba(0, 0, 0, 0.4);
}
.layout .layout-content__elements .new-ticket-button {
  width: 160px;
}
.layout .ticket-table__head {
  font-size: 14px;
}
.layout .ticket-table__head .table-sort-icon {
  height: 17px;
  width: auto;
}
.layout .ticket-table__head th {
  border-top: none !important;
}
.layout .ticket-table__body {
  font-family: GothamProLight;
  font-size: 13px;
}
.layout .ticket-table__body td:first-child {
  font-family: GothamProRegular;
}

.pagination .smarts-page-item:hover {
  background-color: #e9ecef;
  cursor: pointer;
}
.pagination .smarts-page-item .smarts-page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  color: #000000;
  text-decoration: none;
  border: 1px solid #dee2e6;
  outline: none;
}
.pagination .smarts-page-item.active .smarts-page-link {
  background-color: #655290;
  border-color: #655290;
  color: #ffffff;
}
.pagination .smarts-page-item:last-child .smarts-page-link {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pagination .smarts-page-item:first-child .smarts-page-link {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* ------------------------------------------
 TICKET MODAL FORM
 ------------------------------------------ */
.ticket-modal-content {
  font-family: GothamProRegular;
}

.modal-underline-selector {
  border-bottom: none !important;
  border-top: none !important;
}

.ticket-create-button-area {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.ticket-create-button-area .ticket-create-button {
  width: 115px;
  height: 32px;
  font-size: 13px;
}

.payments-form-selectors {
  display: flex;
  justify-content: space-between;
}
.payments-form-selectors .smarts-ticket-form {
  width: 47%;
}
@media (max-width: 575px) {
  .payments-form-selectors {
    flex-direction: column;
  }
  .payments-form-selectors .smarts-ticket-form {
    width: 100%;
  }
}

.smarts-ticket-form {
  position: relative;
  font-size: 15px;
}
.smarts-ticket-form.form-group {
  margin-bottom: 30px;
}
.smarts-ticket-form .smarts-ticket-selector-label {
  color: #8C8C8C;
  font-size: 13px;
  margin-bottom: 0 !important;
}
.smarts-ticket-form .smarts-ticket-label {
  position: absolute;
  pointer-events: none;
  top: 26%;
  left: 10px;
  transition: 0.2s ease all;
  color: #8C8C8C;
}
.smarts-ticket-form .smarts-input:focus ~ .smarts-ticket-label, .smarts-ticket-form .smarts-input:not(:focus):valid ~ .smarts-ticket-label,
.smarts-ticket-form .smarts-textarea:focus ~ .smarts-ticket-label,
.smarts-ticket-form .smarts-textarea:not(:focus):valid ~ .smarts-ticket-label {
  top: -17px;
  left: 0;
  font-size: 13px;
}

/* ------------------------------------------
 TICKET DETAILS
 ------------------------------------------ */
.details {
  font-size: 13px;
  width: 100%;
}
.details-main {
  display: flex;
  flex-wrap: wrap;
}
.details-main-half {
  width: 550px;
}
.details-secondary-comments .comment {
  margin-bottom: 25px;
}
.details-secondary-comments .comment .date-time {
  color: #7a869a;
  font-size: 13px;
}
.details-secondary-comments .comment .text {
  margin: 7px 0;
}
.details-secondary-comments .comment .author .account-card__logo {
  height: 25px;
  width: auto;
}
.details-secondary-comments .comment .date-time,
.details-secondary-comments .comment .text {
  padding-left: 33px;
}
.details .module {
  margin-bottom: 30px;
}
.details .module-header {
  font-family: GothamProMedium;
  margin-bottom: 6px;
}
.details .module .account-card__logo {
  color: #655290;
}
.details .module-content .module-list {
  list-style: none;
  padding: 0;
}
.details .module-content .module-list-item {
  display: flex;
  margin-bottom: 10px;
}
.details .module-content .module-list-item__title {
  width: 140px;
  color: #7a869a;
  font-family: GothamProLight;
}
.details .module-content .module-list-item .styles_Editext__button__6H8n_,
.details .module-content .module-list-item .styles_Editext__input__1534X {
  padding: 0 !important;
}
.details .module-content .module-list-item .styles_Editext__button__6H8n_ {
  min-width: 24px !important;
}
.details .module-content .module-list-item .details-custom-priority {
  background: #E74C3C;
  color: #ffffff;
  padding: 0 3px;
  border-radius: 3px;
}
.details .module-footer .smarts-textarea {
  border-top: 2px solid #655290;
  margin: 0;
  border-bottom: none;
}
.details .module-footer .smarts-textarea:hover, .details .module-footer .smarts-textarea:focus {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
}
.details .module-footer-button-area {
  display: flex;
  justify-content: flex-end;
}
.details .module-footer-button-area .comment-button {
  width: 160px;
  margin-top: 10px;
}

/* ------------------------------------------
 AUTHORIZATION / REGISTRATION
 ------------------------------------------ */
.auth-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8b5da6;
  height: 100vh;
}

.auth-form {
  font-family: GothamProLight;
  background-color: #fff;
  width: 450px;
  border-radius: 5px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  padding: 50px;
}

.auth-header {
  display: flex;
  justify-content: center;
}
.auth-header-logo {
  width: 200px;
  height: auto;
}

.auth-body {
  padding: 30px 0 20px 0;
  font-size: 14px;
}
.auth-body > div {
  margin: 25px 0;
}
.auth-body-item {
  position: relative;
}
.auth-body-item__label {
  padding-left: 1px;
  margin-bottom: 0;
  font-size: 13px;
}
.auth-body-item__input {
  width: 100%;
  height: 34px;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  font-family: GothamProRegular;
}
.auth-body-item__input:focus {
  outline: none;
}
.auth-body-item__input:focus + .focus-border::before, .auth-body-item__input:not(:focus):valid ~ .focus-border::before {
  width: 100%;
}
.auth-body-item .focus-border {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.auth-body-item .focus-border::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #f68d37;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.auth-body .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #655290;
  background-color: #655290;
  outline: none !important;
}
.auth-body .auth-button-area {
  padding-top: 20px;
}
.auth-body .auth-button-area .smarts-button.btn-sign-in {
  width: 100%;
  background: #f68d37;
  border-radius: 5px;
}
.auth-body .auth-button-area .smarts-button.btn-sign-in:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
  transition: 0.2s;
}

.auth-footer {
  text-align: center;
  font-size: 13px;
}
.auth-footer a {
  color: #655290;
  font-family: GothamProRegular;
}
.auth-footer a:hover {
  text-decoration: none;
  color: #f68d37;
}
.auth-footer div {
  margin: 5px 0;
}

/* ------------------------------------------
 ACCOUNT DROPDOWN CARD
 ------------------------------------------ */
.account-card {
  display: flex;
  justify-content: flex-end;
}
.account-card .dropdown-menu {
  font-size: 13px;
  width: 100%;
}
.account-card .dropdown-item {
  padding: 0.25rem 0.4rem !important;
}
.account-card .dropdown-item:active {
  background: #f68d37;
}
.account-card .dropdown button {
  font-size: 13px;
  font-family: GothamProMedium;
  background: none;
}
.account-card__logo {
  height: 20px;
  width: auto;
  color: #ffffff;
}
.account-card__items-logo {
  height: 20px;
  width: auto;
  padding: 0 8px;
}
.account-card__items-logo.profile-icon {
  height: 17px;
}
.account-card__button {
  padding: 0 8px;
}
.account-card .dropdown button:hover,
.account-card .show > .btn-primary.dropdown-toggle {
  background: white !important;
  color: black !important;
}
.account-card .dropdown button:hover .account-card__logo,
.account-card .show > .btn-primary.dropdown-toggle .account-card__logo {
  color: #655290;
}

/* ------------------------------------------
 PROFILE MODAL
 ------------------------------------------ */
.modal-body.profile-body {
  padding: 0 !important;
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 0 30px 40px;
}
.profile-top {
  display: flex;
  width: 100%;
  background: #655290;
  padding: 12px;
  color: #ffffff;
  border-radius: 3px;
}
.profile-top__picture {
  display: flex;
  justify-content: center;
  flex: 2;
}
.profile-top__picture img {
  width: auto;
  height: 120px;
  border-radius: 50%;
}
.profile-top__contact {
  flex: 3;
  font-size: 14px;
  font-family: GothamProLight;
  line-height: 2;
}
.profile-top__contact-name {
  font-size: 20px;
  font-family: GothamProMedium;
  margin-bottom: 8px;
  padding-left: 5px;
}
.profile-top__contact-logo {
  height: 20px;
  width: auto;
  margin-right: 5px;
}
.profile-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.profile-bottom__title {
  padding: 30px 0 5px;
  font-family: GothamProRegular;
  font-size: 14px;
}
.profile-bottom__amount {
  display: flex;
  width: 100%;
}
.profile-bottom__amount-type {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.profile-bottom__amount-type .count {
  font-family: GothamProMedium;
  font-size: 26px;
}
.profile-bottom__amount-type .name {
  font-family: GothamProLight;
  font-size: 13px;
  color: #7a869a;
}

/*# sourceMappingURL=App.css.map */
