.Main {
  font-family: GothamProRegular;
}
.Main .container-fluid {
  margin-left: 120px;
  width: 93%;
  padding: 0 2vw;
}

.btn {
  border: none !important;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none !important;
}

.smarts-button {
  font-family: GothamProRegular;
  background: #655290 !important;
  border-radius: 17px !important;
  padding: 0 !important;
}

input:required {
  box-shadow: none;
}

/* ------------------------------------------
 ACCOUNT
 ------------------------------------------ */
.account-card {
  position: relative;
}
.account-card .account-card-body {
  position: absolute;
  right: 0;
}
.account-card .account-card-body button {
  font-size: 13px;
  font-family: GothamProMedium;
  background: none;
  color: black;
}
.account-card .account-card-body .dropdown-menu {
  font-size: 13px;
  width: 100%;
}
.account-card .account-card-body .dropdown-item {
  padding: 0.25rem 0.4rem !important;
}

.account-card-logo {
  height: 20px;
  width: auto;
  color: #655290;
}

.account-card-body button:hover,
.show > .btn-primary.dropdown-toggle {
  background: #655290 !important;
  color: white !important;
}

.account-card-body button:hover .account-card-logo,
.show > .btn-primary.dropdown-toggle .account-card-logo {
  color: white;
}

.account-button-title {
  padding: 0 8px;
}

.account-card-items-logo {
  height: 20px;
  width: auto;
  padding: 0 8px;
}

.dropdown-link,
.dropdown-link:hover {
  color: #000;
}

.dropdown-link:hover {
  text-decoration: none;
}

/* ------------------------------------------
 SIDEBAR MENU
 ------------------------------------------ */
.sidebar {
  font-family: GothamProLight;
  font-size: 13px;
  background: #655290;
  width: 100px;
  height: 100vh;
  position: fixed;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}
.sidebar-logo img {
  height: 70px;
  width: auto;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 90px;
}
.sidebar-link:hover {
  background: #56457B;
  text-decoration: none;
  color: white;
}
.sidebar-link .sidebar-link-logo {
  height: 40px;
  width: auto;
}

.sidebar-links .active {
  background: #56457B;
}

/* ------------------------------------------
 TICKET MODAL FORM
 ------------------------------------------ */
.ticket-modal-content {
  font-family: GothamProRegular;
}

.ticket-create-button-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
}
.ticket-create-button-area .ticket-create-button {
  width: 115px;
  height: 32px;
  font-size: 13px !important;
}

.modal-underline-selector {
  border-bottom: none !important;
  border-top: none !important;
}

.smarts-ticket-box {
  position: relative;
  width: 100%;
  font-size: 15px;
}
.smarts-ticket-box .smarts-ticket-label {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 10px;
  transition: 0.2s ease all;
  color: #8C8C8C;
}

.smarts-input,
.smarts-select {
  height: 39px;
}

.smarts-textarea {
  height: 95px;
  resize: none;
}

.smarts-input,
.smarts-select,
.smarts-textarea {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #655290;
  box-shadow: none;
  margin: 4px 0;
  background: #F0F0F0;
  padding: 6px 12px;
}
.smarts-input:hover,
.smarts-select:hover,
.smarts-textarea:hover {
  border-bottom: 2px solid #655290;
  padding-bottom: 5px;
}

.smarts-selector-label {
  color: #8C8C8C;
  font-size: 13px;
  margin-bottom: 0 !important;
}

.smarts-ticket-box .smarts-input:focus ~ .smarts-ticket-label,
.smarts-ticket-box .smarts-textarea:focus ~ .smarts-ticket-label,
.smarts-ticket-box .smarts-input:not(:focus):valid ~ .smarts-ticket-label,
.smarts-ticket-box .smarts-textarea:not(:focus):valid ~ .smarts-ticket-label {
  top: 5px;
  left: 0;
  font-size: 13px;
  opacity: 1;
}

/* ------------------------------------------
 TICKETS LAYOUT
 ------------------------------------------ */
.tickets-layout-content {
  margin: 0 2vw;
}

.tickets-top-component {
  position: relative;
  height: 15vh;
  min-height: 90px;
  padding-top: 80px;
}

.ticket-new-button {
  font-size: 16px !important;
  width: 160px;
  height: 36px;
}

.tickets-page-header {
  font-family: GothamProMedium;
  margin-bottom: 20px;
}

.tickets-table-issues {
  font-family: GothamProLight;
}

.ticket-search-input {
  position: relative;
}
.ticket-search-input .smarts-input {
  width: 50%;
  position: absolute;
  right: 0;
  font-size: 14px;
}

.ticket-table-head {
  font-size: 15px;
}

.ticket-table-body {
  font-family: GothamProLight;
  font-size: 14px;
}

.ticket-table-head tr,
.ticket-table-body tr:nth-of-type(2n+2) {
  background-color: #F9F9F9;
}

/* ------------------------------------------
 TICKETS DETAILS
 ------------------------------------------ */
.details-group {
  display: flex;
  font-size: 14px;
  box-sizing: border-box;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  margin: 20px 0;
}
.details-group .main-column {
  flex: 2;
}
.details-group .side-column {
  flex: 1;
}

.module {
  margin-bottom: 30px;
}
.module .module-header {
  font-family: GothamProMedium;
  margin-bottom: 6px;
}
.module .two-columns {
  display: flex;
}
.module .two-columns .column {
  flex: 1;
  margin: 0;
}

.module-content .description {
  margin-right: 45px;
}
.module-content .comment {
  margin-bottom: 25px;
}
.module-content .comment .date-time {
  color: #7a869a;
  font-size: 13px;
}
.module-content .comment .text {
  margin: 7px 0;
}
.module-content .comment .author .account-card-logo {
  height: 25px;
  width: auto;
}
.module-content .comment .date-time,
.module-content .comment .text {
  padding-left: 33px;
}

.module-list {
  list-style: none;
  padding: 0;
}
.module-list .item {
  display: flex;
  margin-bottom: 7px;
}
.module-list .item .name {
  width: 140px;
  color: #7a869a;
  font-family: GothamProLight;
}

.module-list.short-name .item .name {
  width: 120px;
}

.module-footer .smarts-textarea {
  border-top: 2px solid #655290;
  margin: 0 !important;
  border-bottom: none;
}
.module-footer .smarts-textarea:hover {
  border-bottom: none;
}
.module-footer .comment-button {
  position: absolute;
  right: 0;
  margin-top: 10px;
}
.module-footer .button-area {
  position: relative;
}

.styles_Editext__button__6H8n_,
.styles_Editext__input__1534X {
  padding: 0 !important;
}

.styles_Editext__button__6H8n_ {
  min-width: 24px !important;
}

.details-custom-priority {
  background: #E74C3C;
  color: white;
  padding: 0 3px;
  border-radius: 3px;
}

/* ------------------------------------------
 AUTHORIZATION
 ------------------------------------------ */
.auth-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8b5da6;
  height: 100vh;
}

.auth-form {
  font-family: GothamProLight;
  background-color: #fff;
  width: 450px;
  height: 600px;
  border-radius: 5px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
  padding: 50px;
}

.auth-head {
  display: flex;
  justify-content: center;
}
.auth-head .auth-logo {
  width: 200px;
  height: auto;
}

.auth-body {
  padding: 30px 0 20px 0;
  font-size: 14px;
}
.auth-body > div {
  margin: 25px 0;
}

.auth-item {
  position: relative;
}
.auth-item .auth-label {
  padding-left: 1px;
  margin-bottom: 0;
  font-size: 13px;
}
.auth-item .auth-input {
  width: 100%;
  height: 34px;
  border: none;
  border-bottom: 2px solid #d9d9d9;
}
.auth-item .auth-input:focus + .focus-border::before, .auth-item .auth-input:not(:focus):valid ~ .focus-border::before {
  width: 100%;
}

.focus-border {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.focus-border::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #f68d37;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.auth-button-area {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.auth-button-area .sign-in {
  width: 100%;
}

.smarts-button.btn-sign-in {
  width: 100%;
  height: 35px;
  background: #f68d37 !important;
  border-radius: 5px !important;
  font-size: 16px !important;
}
.smarts-button.btn-sign-in:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
}

.auth-footer {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-footer a {
  color: #655290;
  font-family: GothamProRegular;
}
.auth-footer a:hover {
  text-decoration: none;
  color: #f68d37;
}
.auth-footer div {
  padding: 5px 0;
}

/*# sourceMappingURL=App.css.map */
