$font-regular: GothamProRegular;
$font-light: GothamProLight;
$font-medium: GothamProMedium;

.Main {
  font-family: $font-regular;
  width: 98%;

  .container-fluid {
    margin-left: 120px;
  }
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn {
  border: none !important;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none !important;
}

.smarts-button {
  font-family: $font-medium;
  background: #655290 !important;
  border-radius: 50px !important;
  padding: 0 !important;
  font-size: 16px !important;
}


/* ------------------------------------------
 ACCOUNT
 ------------------------------------------ */

.account-card {
  position: relative;

  .account-card-body {
    position: absolute;
    right: 0;

    button {
      font-size: 13px;
      font-family: $font-medium;
      background: none;
      color: black;
    }

    .dropdown-menu {
      font-size: 13px;
      width: 100%;
    }

    .dropdown-item {
      padding: .25rem 0.4rem !important;

    }
  }
}

.account-card-logo {
  height: 20px;
  width: auto;
  color: #655290;
}

.account-card-body button:hover,
.show > .btn-primary.dropdown-toggle {
  background: #655290 !important;
  color: white !important;
}

.account-card-body button:hover .account-card-logo,
.show > .btn-primary.dropdown-toggle .account-card-logo {
  color: white;
}

.account-button-title {
  padding: 0 8px;
}

.account-card-items-logo {
  height: 20px;
  width: auto;
  padding: 0 8px;
}

/* ------------------------------------------
 SIDEBAR MENU
 ------------------------------------------ */
.sidebar {
  font-family: $font-light;
  font-size: 13px;
  background: #655290;
  width: 100px;
  height: 100vh;
  min-width: 65px;
  min-height: 550px;
  position: fixed;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;

  img {
    height: 70px;
    width: auto;
  }
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 90px;

  &:hover {
    background: #56457B;
    text-decoration: none;
    color: white;
  }

  .sidebar-link-logo {
    height: 40px;
    width: auto;
  }
}

.sidebar-links .active {
  background: #56457B;
}


/* ------------------------------------------
 TICKET MODAL FORM
 ------------------------------------------ */

.ticket-modal-content {
  font-family: $font-regular;
}

.ticket-create-button {
  font-family: $font-regular;
  width: 115px;
  height: 32px;
  font-size: 13px !important;
}

.modal-underline-selector {
  border-bottom: none !important;
  border-top: none !important;
}

.smarts-ticket-box {
  position: relative;
  width: 100%;
  font-size: 15px;

  .smarts-ticket-label {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 10px;
    transition: 0.2s ease all;
    color: #8C8C8C;
  }
}

.smarts-input,
.smarts-select {
  height: 39px;
}

.smarts-textarea {
  height: 95px;
}

.smarts-input,
.smarts-select,
.smarts-textarea {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #655290;
  box-shadow: none;
  margin: 4px 0;
  background: #F0F0F0;
  padding: 6px 12px;


  &:hover {
    border-bottom: 2px solid #655290;
    padding-bottom: 5px;
  }
}

.smarts-selector-label {
  color: #8C8C8C;
  font-size: 13px;
  margin-bottom: 0 !important;
}

.smarts-ticket-box input:focus ~ .smarts-ticket-label,
.smarts-ticket-box textarea:focus ~ .smarts-ticket-label,
.smarts-ticket-box input:not(:focus):valid ~ .smarts-ticket-label,
.smarts-ticket-box textarea:not(:focus):valid ~ .smarts-ticket-label {
  top: 5px;
  left: 0;
  font-size: 13px;
  opacity: 1;
}

/* ------------------------------------------
 TICKETS LAYOUT
 ------------------------------------------ */

.tickets-layout-content {
  margin: 0 6vw 0 1vw;;
}

.tickets-top-component {
  position: relative;
  height: 15vh;
  min-height: 90px;
  padding-top: 80px;
}

.ticket-new-button {
  width: 160px;
  height: 36px;
}

.tickets-page-header {
  font-family: $font-medium;
  margin-bottom: 20px;
}

.tickets-table-issues {
  font-family: $font-light;
}

.ticket-search-input {
  position: relative;

  .smarts-input {
    width: 50%;
    position: absolute;
    right: 0;
    font-size: 14px;
  }
}


.ticket-table-head {
  font-size: 15px;
}

.ticket-table-body {
  font-family: $font-light;
  font-size: 14px;
}

.ticket-table-head tr,
.ticket-table-body tr:nth-of-type(2n+2) {
  background-color: #F9F9F9;
}

/* ------------------------------------------
 TICKETS DETAILS
 ------------------------------------------ */

.details-group {
  display: flex;
  font-size: 14px;
  box-sizing: border-box;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  margin: 20px 0;

  .main-column {
    flex: 2;
  }

  .side-column {
    flex: 1;
  }
}

.module {
  margin-bottom: 30px;

  .module-header {
    font-family: $font-medium;
    margin-bottom: 6px;
  }

  .two-columns {
    display: flex;

    .column {
      flex: 1;
      margin: 0;
    }
  }
}

.module-content {
  .description {
    margin-right: 45px;
  }

  .comment {
    margin-bottom: 25px;

    .date-time {
      color: #7a869a;
      font-size: 13px;
    }

    .text {
      margin: 7px 0;
    }

    .author .account-card-logo {
      height: 25px;
      width: auto;

    }

    .date-time,
    .text {
      padding-left: 33px;
    }
  }
}

.module-list {
  list-style: none;
  padding: 0;

  .item {
    display: flex;
    margin-bottom: 7px;

    .name {
      width: 140px;
      color: #7a869a;
      font-family: $font-light;
    }

    .value.priority {
      background: #E74C3C;
      color: white;
      padding: 0 3px;
      border-radius: 3px;
    }
  }
}

.module-list.short-name .item .name {
  width: 120px;
}

.module-footer {
  .smarts-textarea {
    border-top: 2px solid #655290;
    margin: 0 !important;
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }

  .comment-button {
    position: absolute;
    right: 0;
  }

  .button-area {
    position: relative;
  }
}





