$font-light: GothamProLight;
$font-regular: GothamProRegular;
$font-medium: GothamProMedium;
$font-bold: GothamProBold;
$color-smarts-main: #655290;
$color-smarts-main-v2: #8b5da6;
$color-smarts-secondary: #f68d37;
$color-white: #ffffff;

/* ------------------------------------------
 GLOBAL CSS
 ------------------------------------------ */

html {
  min-width: 320px;
  height: 100%;
}

body {
  height: 100%;
}

.Main {
  font-family: $font-regular;

  button:focus {
    outline: none;
  }

  .btn-primary:focus {
    box-shadow: none !important;
  }

  .btn {
    border: none;
  }
}

.modal-content button.close {
  outline: none;
}

.smarts-button {
  font-family: $font-regular;
  background: $color-smarts-main;
  border-radius: 10px;
  color: $color-white;
  border: none;
  height: 36px;
  font-size: 15px;
  transition: .3s;

  &:hover {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4)
  }
}

.smarts-input,
.smarts-select {
  height: 39px;
}

.smarts-textarea {
  height: 95px;
  resize: none;
}

.smarts-input,
.smarts-select,
.smarts-textarea {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid $color-smarts-main;
  box-shadow: none;
  margin: 4px 0;
  background: #F0F0F0;
  padding: 6px 12px;

  &:hover,
  &:focus {
    border-bottom: 2px solid $color-smarts-main;
    padding-bottom: 5px;
  }
}

@mixin container-media {
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }

  @media screen and (max-width: 1199px) and (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media screen and (max-width: 991px) and (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media screen and (max-width: 767px) and (min-width: 576px) {
    .container {
      max-width: 720px;
    }
  }
}

/* ------------------------------------------
 LAYOUTS
 ------------------------------------------ */

.layout {
  &-header {
    margin-bottom: 30px;
    height: 80px;
    width: 100%;
    background: $color-smarts-main;

    @include container-media;
  }

  &-content {
    @include container-media;

    &__title {
      font-family: $font-bold;
      margin-bottom: 20px;

      &-subtitle {
        font-family: $font-medium;
      }
    }

    &__body {
      padding: 20px 30px;
      margin: 20px 0;
      -webkit-box-shadow: 0 5px 64px rgba(32, 32, 32, 0.1);
      box-shadow: 0 5px 64px rgba(32, 32, 32, 0.1);
    }
  }
}

/* ------------------------------------------
 SIDEBAR MENU
 ------------------------------------------ */

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-light;
  font-size: 13px;

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding-right: 25px;

    img {
      height: 60px;
      width: auto;
    }
  }

  &-link {
    height: 80px;
    width: 90px;

    &.active {
      background: #56457B;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $color-white;
      height: 100%;

      &:hover {
        background: #56457B;
        text-decoration: none;
        color: $color-white;
      }

      &__logo {
        height: 35px;
        width: auto;
      }
    }
  }
}

/* ------------------------------------------
 ACCOUNT DROPDOWN CARD
 ------------------------------------------ */

.account-card {
  display: flex;
  justify-content: flex-end;

  .dropdown {
    &-menu {
      font-size: 13px;
      width: 100%;
    }

    &-item {
      padding: .25rem 0.4rem !important;

      &:active {
        background: $color-smarts-secondary;
      }
    }

    button {
      font-size: 13px;
      font-family: $font-medium;
      background: none;
    }
  }

  &__logo {
    height: 20px;
    width: auto;
    color: $color-white;
  }

  &__items-logo {
    height: 20px;
    width: auto;
    padding: 0 8px;

    &.profile-icon {
      height: 17px;
    }
  }

  &__button {
    padding: 0 8px;
  }

  .dropdown button:hover,
  .show > .btn-primary.dropdown-toggle {
    background: white !important;
    color: black !important;
  }

  .dropdown button:hover .account-card__logo,
  .show > .btn-primary.dropdown-toggle .account-card__logo {
    color: $color-smarts-main;

  }
}


/* ------------------------------------------
 AUTHORIZATION / REGISTRATION
 ------------------------------------------ */

.auth-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-smarts-main-v2;
  height: 100vh;
}

.auth-form {
  font-family: $font-light;
  background-color: #fff;
  width: 450px;
  border-radius: 5px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  padding: 50px;
}

.auth-header {
  display: flex;
  justify-content: center;

  &-logo {
    width: 200px;
    height: auto;
  }
}


.auth-body {
  padding: 30px 0 20px 0;
  font-size: 14px;

  > div {
    margin: 25px 0;
  }

  &-item {
    position: relative;

    &__label {
      padding-left: 1px;
      margin-bottom: 0;
      font-size: 13px;
    }

    &__input {
      width: 100%;
      height: 34px;
      border: none;
      border-bottom: 2px solid #d9d9d9;
      font-family: $font-regular;

      &:focus {
        outline: none;
      }

      &:focus + .focus-border::before,
      &:not(:focus):valid ~ .focus-border::before {
        width: 100%;
      }
    }

    .focus-border {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: $color-smarts-secondary;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        -moz-transition: all .4s;
        transition: all .4s;
      }
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: $color-smarts-main;
    background-color: $color-smarts-main;
    outline: none !important;
  }

  .auth-button-area {
    padding-top: 20px;

    .smarts-button.btn-sign-in {
      width: 100%;
      background: $color-smarts-secondary;
      border-radius: 5px;

      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
        transition: 0.2s;
      }
    }
  }
}

.auth-footer {
  text-align: center;
  font-size: 13px;

  a {
    color: $color-smarts-main;
    font-family: $font-regular;

    &:hover {
      text-decoration: none;
      color: $color-smarts-secondary;
    }
  }

  div {
    margin: 5px 0;
  }
}

/* ------------------------------------------
 PROFILE MODAL
 ------------------------------------------ */

.modal-body {
  &.profile-body {
    padding: 0 !important;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 0 30px 40px;

  &-top {
    display: flex;
    width: 100%;
    background: $color-smarts-main;
    padding: 12px;
    color: $color-white;
    border-radius: 3px;

    &__picture {
      display: flex;
      justify-content: center;
      flex: 2;

      img {
        width: auto;
        height: 120px;
        border-radius: 50%;
      }
    }

    &__contact {
      flex: 3;
      font-size: 14px;
      font-family: $font-light;
      line-height: 2;

      &-name {
        font-size: 20px;
        font-family: $font-medium;
        margin-bottom: 8px;
        padding-left: 5px;
      }

      &-logo {
        height: 20px;
        width: auto;
        margin-right: 5px;
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &__title {
      padding: 30px 0 5px;
      font-family: $font-regular;
      font-size: 14px;
    }

    &__amount {
      display: flex;
      width: 100%;

      &-type {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;

        .count {
          font-family: $font-medium;
          font-size: 26px;
        }

        .name {
          font-family: $font-light;
          font-size: 13px;
          color: #7a869a;
        }
      }
    }
  }

}

/* ------------------------------------------
 TICKETS LAYOUT
 ------------------------------------------ */
.layout{
  .tickets-table-issues {
    font-family: $font-light;
    padding-right: 5px;
  }

  .layout-content-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .smarts-input {
      font-size: 14px;
      width: 25%;
      background: #c1c1c1;
      transition: 0.3s;

      &:hover,
      &:focus {
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
      }
    }

    .new-ticket-button {
      width: 160px;
    }
  }
}

.ticket-table-head {
  font-size: 14px;

  .table-sort-icon {
    height: 17px;
    width: auto;
  }

  th {
    border-top: none !important;
  }
}

.ticket-table-body {
  font-family: $font-light;
  font-size: 13px;

  td:first-child {
    font-family: $font-regular;
  }
}

.smarts-page-item {
  &:hover {
    background-color: #e9ecef;
    cursor: pointer;
  }

  .smarts-page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    color: #000000;
    text-decoration: none;
    border: 1px solid #dee2e6;
    outline: none;
  }

  &.active .smarts-page-link {
    background-color: $color-smarts-main;
    border-color: $color-smarts-main;
    color: $color-white;
  }

  &:last-child .smarts-page-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &:first-child .smarts-page-link {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

/* ------------------------------------------
 TICKET MODAL FORM
 ------------------------------------------ */

.ticket-modal-content {
  font-family: $font-regular;
}

.modal-underline-selector {
  border-bottom: none !important;
  border-top: none !important;
}


.ticket-create-button-area {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;

  .ticket-create-button {
    width: 115px;
    height: 32px;
    font-size: 13px;
  }
}

.payments-form-selectors {
  display: flex;
  justify-content: space-between;

  .smarts-ticket-form {
    width: 47%;
  }

  @media (max-width: 575px) {
    flex-direction: column;

    .smarts-ticket-form {
      width: 100%;
    }
  }
}

.smarts-ticket-form {
  position: relative;
  font-size: 15px;

  &.form-group {
    margin-bottom: 30px;
  }


  .smarts-ticket-selector-label {
    color: #8C8C8C;
    font-size: 13px;
    margin-bottom: 0 !important;
  }

  .smarts-ticket-label {
    position: absolute;
    pointer-events: none;
    top: 26%;
    left: 10px;
    transition: 0.2s ease all;
    color: #8C8C8C;
  }

  .smarts-input,
  .smarts-textarea {
    &:focus ~ .smarts-ticket-label,
    &:not(:focus):valid ~ .smarts-ticket-label {
      top: -17px;
      left: 0;
      font-size: 13px;
    }
  }
}


/* ------------------------------------------
 TICKET DETAILS
 ------------------------------------------ */

.details-group {
  display: flex;
  font-size: 13px;
  box-sizing: border-box;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;

  .main-column {
    flex: 2;
  }

  .side-column {
    flex: 1;
  }
}

.module {
  margin-bottom: 30px;

  .module-header {
    font-family: $font-medium;
    margin-bottom: 6px;
  }

  .module-content {
    .description {
      margin-right: 45px;
    }

    .comment {
      margin-bottom: 25px;

      .date-time {
        color: #7a869a;
        font-size: 13px;
      }

      .text {
        margin: 7px 0;
      }

      .author .account-card__logo {
        height: 25px;
        width: auto;

      }

      .date-time,
      .text {
        padding-left: 33px;
      }
    }
  }


  .two-columns {
    display: flex;

    .column {
      flex: 1;
      margin: 0;
    }
  }
}


.module-list {
  list-style: none;
  padding: 0;

  .item {
    display: flex;
    margin-bottom: 7px;

    .name {
      width: 140px;
      color: #7a869a;
      font-family: $font-light;
    }
  }
}

.module-list.short-name .item .name {
  width: 100px;
}

.module-footer {
  .smarts-textarea {
    border-top: 2px solid $color-smarts-main;
    margin: 0 !important;
    border-bottom: none;

    &:hover,
    &:focus {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
    }
  }

  .button-area {
    display: flex;
    justify-content: flex-end;

    .comment-button {
      width: 160px;
      margin-top: 10px;
    }
  }
}

.styles_Editext__button__6H8n_,
.styles_Editext__input__1534X {
  padding: 0 !important;
}

.styles_Editext__button__6H8n_ {
  min-width: 24px !important;
}

.details-custom-priority {
  background: #E74C3C;
  color: $color-white;
  padding: 0 3px;
  border-radius: 3px;
}



