@font-face {
    font-family: "GothamProRegular";
    src: url("../other/fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../other/fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"),
    url("../other/fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../other/fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBold";
    src: url("../other/fonts/GothamProBold/GothamProBold.eot");
    src: url("../other/fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"),
    url("../other/fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../other/fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBlack";
    src: url("../other/fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../other/fonts/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"),
    url("../other/fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../other/fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProItalic";
    src: url("../other/fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../other/fonts/GothamProItalic/GothamProItalic.eot?#iefix") format("embedded-opentype"),
    url("../other/fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../other/fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProMedium";
    src: url("../other/fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../other/fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"),
    url("../other/fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../other/fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProLight";
    src: url("../other/fonts/GothamProLight/GothamProLight.eot");
    src: url("../other/fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"),
    url("../other/fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../other/fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../other/fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../other/fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../other/fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../other/fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProLightItalic";
    src: url("../other/fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../other/fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix") format("embedded-opentype"),
    url("../other/fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../other/fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../other/fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../other/fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../other/fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../other/fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../other/fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../other/fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../other/fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../other/fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}