$font-light: GothamProLight, sans-serif;
$font-regular: GothamProRegular, sans-serif;
$font-medium: GothamProMedium, sans-serif;
$font-bold: GothamProBold, sans-serif;
$color-smarts-main: #655290;
$color-smarts-hover: #56457B;
$color-smarts-main-v2: #8b5da6;
$color-smarts-secondary: #f68d37;
$color-white: #ffffff;
$color-black: #000000;
$color-light-gray: #7a869a ;